langchain
ipykernel
python-dotenv
langchain_huggingface
langchain_community
streamlit
validators
langchain_groq
youtube_dl
moviepy
pytube
pyzbar
youtube-transcript-api
unstructured
comtypes
pycaw
opencv-python
tensorflow
keras
mediapipe
sounddevice
streamlit-webrtc
watchdog
torch
torchvision
torchaudio
nightly
requests
transformers
mysql-connector-python
SQLAlchemy

